* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: white;
    /*width: 95%;*/
}

/*.alert-info .hidden-on-desktop {*/
/*    */
/*}*/

body {
    display: flex;
    width: 95%;
    margin: 0.5em;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

/*body:nth-child(1) {*/
/*    flex-basis: 100%;*/
/*}*/

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto;
    width: 100%;
}

.nav-links {
    flex-direction: column;
    text-align: center;
    padding: 0;
}

h1 {
    margin: 0.5em auto;
}

nav {
    text-align: center;
    width: 95%;
}

.alert-info, .hidden-on-desktop {
    text-align: center;
    line-height: 3em;
    background-color: lightskyblue;
    /*margin: 1em;*/
    width: 95%;
    border: 2px solid lightgrey;
}

.alert-info a {
    color: black;
    text-decoration: none;
}

section {

}

img {
    margin: 0.5em;
    width: 95%;
    height: auto;
    /*display: block;*/
}

li {
    text-align: center;
    line-height: 3em;
    background-color: lightgrey;
    margin: 0.5em 0;
    width: 100%;
}